mccabe == 0.6.1 ; python_version == '3.3'
pycodestyle == 2.3.1 ; python_version == '3.3'
pyflakes == 1.6.0 ; python_version == '3.3'
flake8 == 3.5.0 ; python_version == '3.3'
mccabe == 0.6.1 ; python_version == '3.8'
pycodestyle == 2.7.0 ; python_version == '3.8'
pyflakes == 2.3.1 ; python_version == '3.8'
flake8 == 3.9.2 ; python_version == '3.8'
black == 22.1.0 ; python_version == '3.8'
